Sales Signal Monitor/Sales Signal Monitor.json
{
  "name": "Sales Signal Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "56ecc6bc-bbe6-4d8b-9b8e-7e3437719bae",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XUEg-HU0FaO_uJh_2uVop2nwhnINUHfNm0lnEwAf3h0",
          "mode": "list",
          "cachedResultName": "Sales Signal Monitor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XUEg-HU0FaO_uJh_2uVop2nwhnINUHfNm0lnEwAf3h0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 34530249,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XUEg-HU0FaO_uJh_2uVop2nwhnINUHfNm0lnEwAf3h0/edit#gid=34530249"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Active"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "45e2e542-4b82-428f-94e9-eb8070eb6fe0",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9haJMDRsYnn5Q5Yz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "df3715ea-a222-40ca-8d9e-69f65cb6f110",
      "name": "Loop Over Items",
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_PERPLEXITY_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Find recent news about {{ $json['Company Name'] }} in 2026. Focus on: funding rounds, leadership changes, expansions, new products, partnerships, or any business developments. Return a 3-5 sentence summary.\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "cfc4baa9-2640-44d5-b86b-619b81d7e07b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 300,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are a B2B sales analyst. Based on this news about {{ $('HTTP Request').item.json.choices[0].message.content.replace(/\\n/g, ' ').replace(/\"/g, '\\'') }}, is this a meaningful sales signal for a B2B software company? If YES, respond with only one clear sentence explaining the opportunity, starting with the company name. If NO, respond with exactly: NO_SIGNAL\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        0
      ],
      "id": "523c96db-f18d-4c6b-beb6-755d83f53f88",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "187783c0-462a-4555-a710-b62fe388b60e",
              "leftValue": "={{ $json.content[0].text }}",
              "rightValue": "NO_SIGNAL",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1040,
        0
      ],
      "id": "be7fec00-3e41-49cb-9569-9536a0652c46",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1XUEg-HU0FaO_uJh_2uVop2nwhnINUHfNm0lnEwAf3h0",
          "mode": "list",
          "cachedResultName": "Sales Signal Monitor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XUEg-HU0FaO_uJh_2uVop2nwhnINUHfNm0lnEwAf3h0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 34530249,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XUEg-HU0FaO_uJh_2uVop2nwhnINUHfNm0lnEwAf3h0/edit#gid=34530249"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "News & Leverage": "={{ $('HTTP Request1').item.json.content[0].text }}",
            "Last Updated": "={{ new Date().toLocaleDateString('en-GB') }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AOS",
              "displayName": "AOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "News & Leverage",
              "displayName": "News & Leverage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        0
      ],
      "id": "cd337bd4-5d1c-4bdd-9de8-97c71212eb30",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9haJMDRsYnn5Q5Yz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XUEg-HU0FaO_uJh_2uVop2nwhnINUHfNm0lnEwAf3h0",
          "mode": "list",
          "cachedResultName": "Sales Signal Monitor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XUEg-HU0FaO_uJh_2uVop2nwhnINUHfNm0lnEwAf3h0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 34530249,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XUEg-HU0FaO_uJh_2uVop2nwhnINUHfNm0lnEwAf3h0/edit#gid=34530249"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Last Updated",
              "lookupValue": "={{ new Date().toLocaleDateString('en-GB') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        544,
        -208
      ],
      "id": "256b8def-64cd-4f45-8d34-48b4686ca609",
      "name": "Get row(s) in sheet1",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9haJMDRsYnn5Q5Yz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "nikhilroy219@gmail.com",
        "subject": "=Weekly Sales Signal Monitor — {{ new Date().toLocaleDateString('en-GB') }}",
        "message": "=<h2>Weekly Sales Signals — {{ new Date().toLocaleDateString('en-GB') }}</h2>\n\n{{ $json.data.filter(item => item['News & Leverage'] && item['News & Leverage'] !== 'NO_SIGNAL').map(item => '<p><strong>' + item['Company Name'] + '</strong><br>' + item['News & Leverage'] + '</p>').join('') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        960,
        -208
      ],
      "id": "8df8ac21-67e8-459d-98e1-acd5fd943ea5",
      "name": "Send a message",
      "webhookId": "dc296d72-aa28-471a-8176-c217fba76b14",
      "credentials": {
        "gmailOAuth2": {
          "id": "5YD6pEkuzGFlyeIK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        752,
        -208
      ],
      "id": "91fc1662-5985-41f2-97cc-f81a6a55881f",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b008830e-9c94-4715-b5c5-047acea748a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e75532bac761378698f9eb62d1bcbf27639bb771c0c3d727042f13ecceb17471"
  },
  "id": "vwHZyuZGgr8F5X4f",
  "tags": []
}